<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/img/weather.png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/styles.css" />
  <script src="https://kit.fontawesome.com/4ce65a8471.js" crossorigin="anonymous"></script>

  <title>About</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created Erencan Çabuk</p>
    <p> It uses data from mapbox.com and https://openweathermap.org!</p>
    <img class="portrait" src="img/me.jpg" />
  </div>

  <a href="https://erncncbk.github.io/" class="fa fa-user" aria-hidden="true"><span class="label">Portfolio</span></a>

  {{>footer}}

</body>

</html>